@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body, html {
  height: 100%;
  width: 100%;
}

body {
    counter-reset: katexEqnNo mmlEqnNo;
}
body {
    margin: 0;
    /* min-width: 1200px; */
    min-width: 1040px;
}
body, html {
    touch-action: none;
}
body {
    font-feature-settings: "tnum","tnum";
    background-color: #fff;
    color: rgba(0,0,0,.85);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
}
#app {
  display: contents;
  height: 100%;
}
.hidden-scroll-bar::-webkit-scrollbar {
  display: none;
}